<!DOCTYPE html>

<html ng-app="CandidatoApp">
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/controller.js"></script>
    <title>MvcAngularEntity</title>
</head>
<body>
    <div class="main container" ng-view> 
    </div>
</body>
</html>
