<h3>{{Titulo}}</h3>
<hr />
<form role="form" style="max-width: 500px">
    <strong class="error">{{error}}</strong>
    <div class="form-group">
        <label for="form-nome">Nome/Name:</label>
        <input type="text" id="form-nome" class="form-control" ng-model="Nome"/>
    </div>

    <div class="form-group">
        <label for="form-skype">Skype: ( please create an account if you don't have yet / bom criar caso não tenha) :</label>
        <input type="text" id="form-skype" class="form-control" ng-model="Skype" />
    </div>

    <div class="form-group">
        <label for="form-telefone">Telefone/Phone (Whatsapp):</label>
        <input type="text" id="form-telefone" class="form-control" ng-model="Telefone" />
    </div>

    <div class="form-group">
        <label for="form-email">E-mail:</label>
        <input type="text" id="form-email" class="form-control" ng-model="Email" />
    </div>

    <div class="form-group">
        <label for="form-cidade">Cidade / City</label>
        <input type="text" id="form-cidade" class="form-control" ng-model="Cidade" />
    </div>

    <div class="form-group">
        <label for="form-estado">Estado/ State</label>
        <input type="text" id="form-estado" class="form-control" ng-model="Estado" />
    </div>

    <div class="form-group">
        <label for="form-pretencao-salario">What is your hourly salary requirements? / Qual sua pretensão salarial por hora?</label>
        <input type="text" id="form-pretencao-salario" class="form-control" ng-model="PretencaoSalario" />
    </div>

    <div class="form-group">
        <label for="form-pretencao-salario">What is your hourly salary requirements? / Qual sua pretensão salarial por hora?</label>
        <input type="text" id="form-pretencao-salario-hora" class="form-control" ng-model="PretencaoSalarioHora" />
    </div> 
</form>